:plain
	$("#tasks").html('#{escape_javascript render('tasks/tasks')}');
	try {
		$("input[type=radio].star").rating();
		
	} catch(x) {
		log(x);
	}
	
	try {
		document.forms["new_task"].reset();
	
	} catch(x) {alert(x);}
	
	$("#notice").replaceWith('#{escape_javascript(render partial: 'layouts/flash', locals: {flash: flash }).html_safe}');
	$("#tasks_errors").html('#{escape_javascript(render partial: 'shared/error_messages', locals: {object: @n })}');
	
