%ul
	%li
		%div.item{style: "background-color: whitesmoke"}
			<a href='#{stacks_url}'><h4 class="ui-widget-header"><i class="icon-tag"></i> Stacks </h4></a>
			= render 'stacks/stack_form'
	= render @stacks
	
= will_paginate @stacks , param_name: 'stacks_page', remote: true, params: { controller: "stacks", action: "index" }
%hr
