:plain
	$("#stacks").html('#{escape_javascript render('stacks/stacks')}');
	document.getElementById("new_stack").reset();
	$("#notice").replaceWith('#{escape_javascript(render partial: 'layouts/flash', locals: {flash: flash }).html_safe}');
	$("#stacks_errors").html('#{escape_javascript(render partial: 'shared/error_messages', locals: {object: @n })}');
	
