:plain
	try {
		$("#stacks").html('#{escape_javascript render('stacks/stacks')}');
	} catch(x) {log(x);}
	$("#notice").replaceWith('#{escape_javascript(render partial: 'layouts/flash', locals: {flash: flash }).html_safe}');
	$("#stacks_errors").html('#{escape_javascript(render partial: 'shared/error_messages', locals: {object: @n })}');
	
