- user ||= @user
- btn_size ||= "btn-large"
- unless current_user?(user)
	#follow_form
		- if current_user.following?(user)
			=render partial: 'unfollow', locals: {user: user, btn_size: btn_size}
		- else
			=render partial: 'follow', locals: {user: user, btn_size: btn_size}
