- provide(:title, @user.name)
.row
	%aside.span4
		%section
			=render partial: 'shared/user_info'
		%section
			=render 'shared/stats'
		%section
			=render 'shared/micropost_form'
	.span8
		=render partial: 'follow_form' if signed_in?
		- if @user.microposts.any?
			%h3= "Microposts #{@user.microposts.count}"
			%ol.microposts
				=render @microposts
			= will_paginate @microposts
