.center.hero-unit
	%h1 Welcome to Perfect Trax
	%h1= yield(:title)
	%h2 This is the home page for <a href='http://perfecttrax.com'>Perfect Trax Application</a>
	=link_to "Sign up now!",signup_path, class: "btn btn-large btn-primary"
