.row
	.span4
		%section= render 'shared/user_info'
		%section= render 'shared/stats'
		%section= render 'shared/mylinks'
	.span8
		%section= render  'shared/micropost_form' , src: 'home' 
		%b
		#feed=render 'shared/feed'
