- @micropost = @micropost || Micropost.new
=form_for @micropost, remote: true do |f|
	%div
		= render 'shared/error_messages', object: f.object
		= f.text_area :content, placeholder: "say something...", rows: "3", style: 'width:80%'
		= hidden_field_tag :src,  src || "home"
		%span{style: "display:inline-block; vertical-align:bottom;"}
			= f.submit "Post", class: "btn btn-mini btn-primary", style: "valign:bottom;"
		%hr
