=form_for(@micropost) do |f|
	= render 'shared/error_messages', object: f.object
	=f.text_area :content, placeholder: "say something...", rows: "4", style: 'width:100%'
	= f.submit "Post", class: "btn btn-mini btn-primary"
