= render 'stacks/stacks'
%hr
%ul.nav.nav-tabs.nav-stacked
	<li><a href='#{teams_url}'><h4> <i class='icon-user'></i> Contacts </h4> </a></li>
	= render @teams
= will_paginate @teams , param_name: 'teams_page', remote: true

