%li
	%span.content=micropost.content 
	%span.timestamp= "#{time_ago_in_words(micropost.updated_at)} ago."
	- if current_user?(micropost.user)
		= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"}, title:micropost.content
