:plain
	try {
		if ($("#feed").length) {
			$("#feed").html('#{escape_javascript render('shared/feed')}');
		}
	
	}catch(x) {console.log(x);}
	
	try {
		if ($("#notice").length) {
			$("#notice").replaceWith('#{escape_javascript(render partial: 'layouts/flash', locals: {flash: flash }).html_safe}');	
		}
		
	} catch(x) {console.log(x);}
	
	try {
		document.forms["new_micropost"].reset();
	} catch(x){}
	
	
