// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.late {
  color: red;
  font-weight: bold;
}

.notlate {
	color: green;
	font-weight: bold;
}
